
/* GERAL */
body { overflow-x: hidden; font-family: 'Montserrat', sans-serif;}

.router-link-exact-active{
    background-color: #003366 !important;
    color: #fff !important;
}
body *{
    transition: .4s;
}
.logo-hen a, .logo-hen h1{
    font-size: 28px;
    width: fit-content;
    font-weight: 700;
    line-height: .9;
    color: #003366 !important;
}
.logo-hen a span, .logo-hen h1 span{
    font-size: 28px;
    color: rgb(255, 0, 0);
}
.carro-top .slick-prev:before,  .carro-top .slick-next::before{
    font-size:  0 !important;
}

.slide-fade-enter-active {
    transition: all .4s ease;
  }
  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
.hide {
    display: none !important;
}
.fixed {
    border-top: 3px solid #003366;
    box-shadow: 0 0 10px #000 !important;
}
.fixed .header-flex {
    height: 70px;

}
.button-a {
    color: #fff;
    background-color: #ff0000;
    display: flex;
    width: 250px;
    border-radius: 30px;
    margin: auto;
    padding: 10px;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    border: #fff 2px solid;
}
.button-a:hover, .button-a:focus {
    transform: scale(1.1);
    text-decoration: none;
    color: #fff;
  } 
.banner-insta .slick-next:before, .banner-insta .slick-prev:before {
    display: none;
}
.slick-arrow i{
    font-size: 55px !important;
}
.banner-insta .slick-prev i{
    position: absolute;
    right: 0px;
}
.padding {
    width: 100%;
    height: 1px;
    background-color: #fff;
    box-shadow: 0 0 8px 8px #fff;
    position: relative;
    z-index: 1;
  }
.pacotes .top-carro .slick-dots {
    display: flex;
    position: absolute;
    width: auto;
    flex-direction: column;
    padding: 10px ;
    right: 10px;
    top: 45%;
    border-radius: 0;
    margin: 0;
    list-style: none;
    text-align: center;
} 
.pacotes .top-carro .slick-dots li {
    padding: 12px 0;
}
.pacotes .top-carro .slick-dots li button::before{
    font-size: 20px !important;
    color: #fff;
}
@media(min-width: 993px){
    .wrap-nav-mobile{display: none;}
}
@media(max-width: 992px){
    .nav-header{display: none;}
    .icone-header{display: block !important;}

}
@media(min-width: 992px){
    .frota-content .left-bus img {height: 190px;}
}
@media(max-width: 480px){
    .banner-insta .slick-next i, .banner-insta .slick-pre i { font-size: 18px; position: absolute;}
    .banner-insta .slick-next i{position: absolute; left: 0px;}
}
